# Configuration derived from /home/laura/.confluent/java.config
bootstrap.servers=pkc-6ojv2.us-west4.gcp.confluent.cloud:9092
security.protocol=SASL_SSL
sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username='7ZWBHHJ3P4WW6GRM' password='C84Lvbz0/FZEXT6fh2HqxYcYqk3xjPsgim+gwpjGIa1uavXKoJ2BqDxgawDdmp5c';
sasl.mechanism=PLAIN
client.dns.lookup=use_all_dns_ips
session.timeout.ms=45000
acks=all
schema.registry.url=https://psrc-8vyvr.eu-central-1.aws.confluent.cloud
basic.auth.credentials.source=USER_INFO
basic.auth.user.info=AJJH5WDEAXUMZOCD:HNbQnmFDLu/WB4b2o7JULmjmC27c9kRPbXCmNv8kaIIlbsxY5eyCFPe14tuoLNBE

# Confluent Monitoring Interceptor specific configuration
confluent.monitoring.interceptor.bootstrap.servers=pkc-6ojv2.us-west4.gcp.confluent.cloud:9092
confluent.monitoring.interceptor.security.protocol=SASL_SSL
confluent.monitoring.interceptor.sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username='7ZWBHHJ3P4WW6GRM' password='C84Lvbz0/FZEXT6fh2HqxYcYqk3xjPsgim+gwpjGIa1uavXKoJ2BqDxgawDdmp5c';
confluent.monitoring.interceptor.sasl.mechanism=PLAIN
